@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap");

/* Variables
/* ---------------------------------------------------------- */

:root {
    /* Colours */
    --blue: #197cf4;
    --green: #66f785;
    --purple: #ad26b4;
    --yellow: #fcbd4c;
    --red: #ff3029;
    --darkgrey: #15171a;
    --midgrey: #738a94;
    --lightgrey: #c5d2d9;
    --whitegrey: #e5eff5;
    --pink: #fa3a57;
    --brown: #a3821a;

    --xxsgrd: 4px;
    --xsgrd: 8px;
    --sgrd: 16px;
    --mgrd: 24px;
    --lgrd: 32px;
    --xlgrd: 40px;
    --xxlgrd: 56px;

    /* Pre Review Colors */
    --prereview-red: #ff3333;
    --prereview-black: #000000;
    --prereview-white: #ffffff;
    --prereview-grey: #4b4949;
    --prereview-blue: #197cf4;
    --prereview-light-blue: #e4edf7;
    --prereview-light-gold: #fffaee;
    --prereview-gold: #fcbd4c;
    --prereview-coral: #f77463;

    --prereview-spring-green: #66f785;
    --prereview-xxxlight-grey: #ebe9e9;
    --prereview-xxlight-grey: #c1bfbf;
    --prereview-xlight-grey: #a5a3a3;
    --prereview-light-grey: #747272;
    --unrich-black: #0b0b0b;

    --ruling-color: var(--prereview-light-grey);

    --basic-font-color: var(--unrich-black);
    --basic-font-color--light: var(--prereview-light-grey);

    /* standard button colors */
    --button-background-color: transparent;
    --button-foreground-color: var(--ui-basic-font-color);
    --button-background-focus-color: var(--prereview-black);
    --button-foreground-focus-color: var(--prereview-white);

    /* primary-style button colors - these are buttons that need to stand out*/
    --button-background-color--primary: var(--prereview-red);
    --button-foreground-color--primary: var(--prereview-white);
    --button-background-focus-color--primary: var(--prereview-black);
    --button-foreground-focus-color--primary: var(--prereview-white);

    --body-background-color: var(--prereview-light-blue);

    /* Fonts */
    --font-family: "Open Sans", "sans-serif";

    --basic-font-size: 11pt;
    --basic-line-height: 16pt;
    --basic-bottom-margin: 12pt;
    --basic-top-margin: 0;
    --basic-font: 400 var(--basic-font-size) / var(--basic-line-height)
        var(--font-family);

    --basic-font-size--small: 10pt;
    --basic-line-height--small: 16pt;
    --basic-bottom-margin--small: 12pt;
    --basic-top-margin--small: 0pt;
    --basic-font--small: 400 var(--basic-font-size--small) /
        var(--basic-line-height--small) var(--font-family);

    --basic-font-size--large: 13pt;
    --basic-line-height--large: 20pt;
    --basic-bottom-margin--large: 12pt;
    --basic-top-margin--large: 0pt;
    --basic-font--large: 500 var(--basic-font-size--large) /
        var(--basic-line-height--large) var(--font-family);

    --short-text-line-height: 12pt;
    --short-text-font: 500 var(--basic-font-size) /
        var(--short-text-line-height) var(--font-family);

    --short-text-line-height--large: 16pt;
    --short-text-font--large: 500 var(--basic-font-size--large) /
        var(--short-text-line-height--large) var(--font-family);

    --header-menu-font-size: 16px;
    --header-menu-line-height: 20px;
    --header-menu-font: 400 var(--header-menu-font-size) /
        var(--header-menu-line-height) var(--font-family);

    --header-1-font-size: 24pt;
    --header-1-line-height: 32pt;
    --header-1-top-margin: 0pt;
    --header-1-bottom-margin: 24pt;
    --header-1-font: 600 var(--header-1-font-size) / var(--header-1-line-height)
        var(--font-family);

    --header-2-font-size: 20pt;
    --header-2-line-height: 24pt;
    --header-2-top-margin: 0pt;
    --header-2-bottom-margin: 20pt;
    --header-2-font: 500 var(--header-2-font-size) / var(--header-2-line-height)
        var(--font-family);

    --header-3-font-size: 16pt;
    --header-3-line-height: 20pt;
    --header-3-top-margin: 0pt;
    --header-3-bottom-margin: 16pt;
    --header-3-font: 500 var(--header-3-font-size) / var(--header-3-line-height)
        var(--font-family);

    --header-4-font-size: 14pt;
    --header-4-line-height: 20pt;
    --header-4-top-margin: 0pt;
    --header-4-bottom-margin: 10pt;
    --header-4-font: 500 var(--header-4-font-size) / var(--header-4-line-height)
        var(--font-family);

    --header-5-font-size: 11pt;
    --header-5-line-height: 16pt;
    --header-5-top-margin: 0pt;
    --header-5-bottom-margin: 4pt;
    --header-5-font: 600 var(--header-5-font-size) / var(--header-5-line-height)
        var(--font-family);

    --display-1-font-size: 32pt;
    --display-1-line-height: 40pt;
    --display-1-top-margin: 20pt;
    --display-1-bottom-margin: 20pt;
    --display-1-font: 300 var(--display-1-font-size) /
        var(--display-1-line-height) var(--font-family);
}

/* Reset
/* ---------------------------------------------------------- */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
body {
    line-height: 1;
    font-family: "Open Sans", "sans-serif";
    color: red;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
img {
    max-width: 100%;
}
html {
    box-sizing: border-box;
    font-family: sans-serif;

    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
a {
    background-color: transparent;
}
a:active,
a:hover {
    outline: 0;
}
b,
strong {
    font-weight: bold;
}
i,
em,
dfn {
    font-style: italic;
}
h1 {
    margin: 0.67em 0;
    font-size: 2em;
}
small {
    font-size: 80%;
}
sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
img {
    border: 0;
}
svg:not(:root) {
    overflow: hidden;
}
mark {
    background-color: #fdffb6;
}
code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
    margin: 0; /* 3 */
    color: inherit; /* 1 */
    font: inherit; /* 2 */
}
button {
    overflow: visible;
    border: none;
}
button,
select {
    text-transform: none;
}
button,
html input[type="button"],
/* 1 */
input[type="reset"],
input[type="submit"] {
    cursor: pointer; /* 3 */

    -webkit-appearance: button; /* 2 */
}
button[disabled],
html input[disabled] {
    cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}
input {
    line-height: normal;
}
input:focus {
    outline: none;
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
input[type="search"] {
    box-sizing: content-box; /* 2 */

    -webkit-appearance: textfield; /* 1 */
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
legend {
    padding: 0; /* 2 */
    border: 0; /* 1 */
}
textarea {
    overflow: auto;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
td,
th {
    padding: 0;
}

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 62.5%;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
    overflow-x: hidden;
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    line-height: 1.6em;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0;
    text-rendering: optimizeLegibility;
    background: #fff;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
}

::selection {
    text-shadow: none;
    background: color(var(--blue) lightness(+30%));
}

hr {
    position: relative;
    display: block;
    width: 100%;
    margin: 2.5em 0 3.5em;
    padding: 0;
    height: 1px;
    border: 0;
    border-top: 1px solid color(var(--lightgrey) l(+10%));
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

textarea {
    resize: vertical;
}

p,
ul,
ol,
dl,
blockquote {
    margin: 0 0 1.5em 0;
}
p:empty,
ul:empty,
ol:empty,
dl:empty,
blockquote:empty {
    margin: 0;
}
ol,
ul {
    padding-left: 1.3em;
    padding-right: 1.5em;
}

ol ol,
ul ul,
ul ol,
ol ul {
    margin: 0.5em 0 1em;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

ul,
ol {
    max-width: 100%;
}

li {
    margin: 0.5em 0;
    padding-left: 0.3em;
    line-height: 1.6em;
}

dt {
    float: left;
    margin: 0 20px 0 0;
    width: 120px;
    color: var(--darkgrey);
    font-weight: 500;
    text-align: right;
}

dd {
    margin: 0 0 5px 0;
    text-align: left;
}

blockquote {
    margin: 1.5em 0;
    padding: 0 1.6em 0 1.6em;
    border-left: var(--whitegrey) 0.5em solid;
}

blockquote p {
    margin: 0.8em 0;
    font-size: 1.2em;
    font-weight: 300;
}

blockquote small {
    display: inline-block;
    margin: 0.8em 0 0.8em 1.5em;
    font-size: 0.9em;
    opacity: 0.8;
}
/* Quotation marks */
blockquote small:before {
    content: "\2014 \00A0";
}

blockquote cite {
    font-weight: bold;
}
blockquote cite a {
    font-weight: normal;
}

a {
    color: color(var(--blue) l(-5%));
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    line-height: 1.15;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

h1 {
    margin: 0 0 0.5em 0;
    font: var(--header-1-font);
}

h2 {
    margin: 1.5em 0 0.5em 0;
    font: var(--header-2-font);
}

h3 {
    margin: 1.5em 0 0.5em 0;
    font: var(--header-3-font);
}

h4 {
    margin: 1.5em 0 0.5em 0;
    font: var(--header-4-font);
}

h5 {
    margin: 1.5em 0 0.5em 0;
    font: var(--header-5-font);
}

h6 {
    margin: 1.5em 0 0.5em 0;
    font: var(--header-6-font);
}
