/* 4. Site Header
/* ---------------------------------------------------------- */

.site-header {
    position: relative;
    padding-top: 12px;
    color: #000;
    background: #fff no-repeat center center;
    background-size: cover;
    height: 80px;
    display: flex;
    align-items: center;
    position: fixed !important;
    left: 0;
    top: 0;
    right: 0;
    z-index: 250;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.site-header:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: block;
}

.site-header:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
    z-index: 10;
    display: block;
    height: 80px;
}

.site-header.no-image:before,
.site-header.no-image:after {
    display: none;
}

.site-header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10vw 4vw;
    min-height: 200px;
    max-height: 450px;
    text-align: center;
}
